<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KibaStore</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap" rel="stylesheet">
        <!-- separacion de fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    </head>

<body>
    <header>
        <h1>KibaStore</h1>
        <div class="right_header">
          <a class="btn_login" href="{{ url_for('index') }}">Inicio</a>
        </div>
    </header>

    <main>
        {% if mensaje %}
        <div id="notificacion">
            <p>{{ mensaje }}</p>
        </div>
        {% endif %}

    <div id="inicioSesion">
        <h2 class="titulo_Formulario">Nuevo Producto</h2>
        <form id="form_ui" action="{{ url_for('obtener_info_producto') }}" method="post">

            <label for="Marca">Marca:</label>
            <input type="text" id="nombre" name="marca" required>

            <label for="Modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" required>

            <label for="Precio">Precio:</label>
            <input type="text" id="precio" name="precio" required>

            <label for="Imagen">URL de Imagen:</label>
            <input type="text" id="imagen" name="imagen" required>

            <label for="Desc">Descripcion:</label>
            <input type="text" id="desc" name="desc" required>

            <label for="Stock">Stock:</label>
            <input type="text" id="stock" name="stock" required>

            <a class="btn_cancelar_form" href="{{ url_for('index') }}">Cancelar</a>
            <button class="boton" type="submit">Agregar Producto</button>
           
        </form>
    </div>

    </main>
    <footer>
        <p>KibaStore - Todos los Derechos Reservados 2024</p>
    </footer>
</body>
</html>