<!DOCTYPE html>
<html>
<head>
    <title>KibaStore</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

    <header>
        <h1>KibaStore</h1>
        <div>
            <a class="btn_comprar" href="{{ url_for('index') }}" >Inicio</a>
        </div>
    </header>

    <main>
        {% if mensaje %}
        <div id="notificacion">
            <p>{{ mensaje }}</p>
        </div>
        {% endif %}

        <h2 class="titulo_Formulario">Nuevo Producto</h2>
    <form action="{{ url_for('obtener_info_producto') }}" method="post">

        <label for="Marca">Marca:</label>
        <input type="text" id="nombre" name="marca">

        <label for="Modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo">

        <label for="Precio">Precio:</label>
        <input type="text" id="precio" name="precio">

        <label for="Imagen">Imagen:</label>
        <input type="text" id="imagen" name="imagen">

        <label for="Desc">Descripcion:</label>
        <input type="text" id="desc" name="desc">

        <label for="Stock">Stock:</label>
        <input type="text" id="stock" name="stock">

        <button class="btn_formulario" type="submit">Agregar Producto</button>
        <a class="btn_cancelar_form" href="{{ url_for('index') }}">Cancelar</a>
    </form>

    </main>
    <footer>
        <p>KibaStore - Todos los Derechos Reservados 2024</p>
    </footer>
</body>
</html>