/* Area de AJustes Generales */

*{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* :root{
    --fondo:rgb(0, 0, 0);
    --tarjeta:rgb(46, 46, 46) ;
    --acento:rgb(18, 148, 116);
    --boton:rgb(8, 94, 51);
    --botonHover:rgb(0, 156, 78);
    --texto:rgb(255, 255, 255);
    --textoInverso:rgb(0, 0, 0);
} */

:root{
    --fondo:#BEFEEB;
    --tarjeta:#F2FFFC;
    --acento:#018C26;
    --boton:#099F50;
    --botonHover:#06BF43;
    --texto:rgb(0, 0, 0);
    --textoInverso:rgb(255, 255, 255);
}

body{
    background-color: var(--fondo);
}

/* Area de HEADER */

header{
    height: 70px;
    width: 100%;
    background-color: var(--acento);
    color:var(--textoInverso);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    margin-top: 5px;
    margin-left: 20px;
    font-weight: 400;
    font-family: "Anek Devanagari", sans-serif;
    font-style: light;
    color: white;
}

.right_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logout_button{
    width: 1.2em;
    aspect-ratio: 1/1;
    background-color: transparent;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    border: solid 1px white;
    background-color: var(--boton);
    color: white;
}

.logout_button:hover{
    background-color: var(--botonHover);
    cursor: pointer;
}

.logout_button img{
    width: 1.2em;
    aspect-ratio: 1/1;
}

.boton{
    background-color: var(--boton);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border: solid 1px white;
}

.boton:hover{
    background-color: var(--botonHover);
    cursor: pointer;
}

.btn_login{
    background-color: var(--boton);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border: solid 1px white;
    margin-right: 20px; 
    text-decoration: none;
}

.btn_login:hover{
    background-color: var(--botonHover);
    cursor: pointer;
}

.btn_comprar{
    background-color: var(--boton);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    padding: 5px 10px;
    border: solid 1px white;   
    text-decoration: none;
}

.btn_comprar:hover{
    background-color: var(--botonHover);
    cursor: pointer;
}


/* Area de main */
main{
    max-width: 90%;
    margin: 0 auto;
}

/* Area de destacados */

#area_destacada{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--texto);
}

#seccion_productos{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilo de tarjetas */

.producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    background-color: var(--tarjeta);
    border-radius: 20px;
    padding: 10px 0;
    box-shadow: black 1px 1px 5px;
    color: var(--texto);
}

.area_imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 4%;
}

.area_imagen img{
    background-color: rgb(243, 252, 255);
    border-radius: 10px;
    width: 80%;
    aspect-ratio: 1/1;
}

.area_imagen button{
    width: 16%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area_imagen button img{
    width: 150%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-radius: 0;
}

.precio{
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
}

.precio::after{
    content: "$";
}

/* area general */

#area_general{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* pié de página */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--texto);
    color: var(--textoInverso);
    padding: 10px;
}

footer p{
    text-align: center;
}

/* Area de carrito de compra */

#area_carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

#carrito{
    background-color: var(--tarjeta);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 80px;
    border-bottom: solid 1px var(--texto);
    gap: 20px;
}

.item .area_imagen{
    width: 30%;
}

.item .area_imagen img{
    width: 60px;
    aspect-ratio: 1/1;
}

.btn_eliminar{
    background-color: var(--boton);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border: solid 1px white;
}

.btn_eliminar:hover{
    background-color: rgb(185, 39, 39);
    cursor: pointer;
}

.btn_verMas{
    background-color: var(--boton);
    border-radius: 10px;
    border: white 1px solid;
    max-width: 40px;
}

.btn_verMas img{
    height: 20px;
    width: 20px;
}

.btn_verMas:hover{
    background-color: var(--botonHover);
    cursor: pointer;
}

.area_datos{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--texto);
}

.cantidad::before{
    content: "x";
    color: var(--acento);
    font-size: 1.2rem;
}

.area_comprar{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    margin: 0 auto;
    height: 100px;
}

.btn_completar{
    background-color: var(--boton);
    border-radius: 30px 20px 30px 20px;
    color: white;
    padding: 10px 10px;
    font-size: 1.3rem;
    border: none;
    box-shadow: 1px 1px 5px black;
}

.btn_completar:hover{
    border-radius: 20px 30px 20px 30px;
    background-color: rgb(50, 179, 11);
    transition: all 500ms ease-in;
    cursor: pointer;
}

/* Area de inicio de sesión */

#inicioSesion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

#inicioSesion h2{
    margin-top: 30px;
}

form{
    background-color: var(--tarjeta);
    margin: 20px;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: var(--texto);
}

input{
    padding: 5px;
    border-radius: 10px;
    border: solid 1px black;
    margin-top:-15px;
    margin-bottom: 10px;
    width: 300px;
}

main{
    min-height: 100vh;
}

.btn_change{
    color: var(--acento);
    font-size: 1.2rem;
}

/* Area del Formulario ProductosView*/
main{
    min-height: 100vh;
}

.btn_change{
    color: var(--acento);
    font-size: 1.2rem;
}

.titulo_Formulario{
    font-weight: 600;
    margin: 3%;
    padding: auto;
    text-align: center;
}

.btn_formulario{
    color: #BEFEEB;
    background-color: #009933;
    border-radius: 20px;
    padding: 10px 25px;
    border: 2px solid white;

}

label{
    font-weight: 700;
}

.btn_cancelar_form{
    text-decoration: none;
}
